$thumb-border-color: #d3d3d3;

.project-list {
  -moz-column-width: 28em;
  -webkit-column-width: 28em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;

  .project-wrapper {
    display: inline-block;
    width:  100%;

    > article {
      float: left;
    }

    .project {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid #eaeaea;
      display: inline-block;
      float: left;
      background: white;
      color: #737373;

      a {
        color: #0aa1af;
      }
      .thumb {
        width: 100%;
        border-top: 1px solid $thumb-border-color;
        border-bottom: 1px solid $thumb-border-color;
        &.no-thumb {
          text-align: center;
          padding: 30px 0;
        }
      }

      .proj-content {

      }

      header {
        padding: 10px
      }

      .name {
        display: inline;
        font-size: 1.3em;
        padding-left: 5px;
      }

      .proj-content {
        padding: 15px;
        > span {
          display: block;
        }
        .desc {
          border-top: 1px solid #eaeaea;
          margin-top: 15px;
          padding-top: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .project-wrapper {
    padding: 0px 10px;
  }
}
