html, body, #app, .main, .fixed, #main-column, #content {
  height: 100%;
}

#left-column {
  text-align: center;
}
#main-column {
  border-left: 1px solid #eaeaea;
  overflow-y: scroll;
}
#nav-wrapper {
  position: fixed;
  /* width: 100%; */
  background: #f4f6f7;
}
#nav-wrapper > div {
  padding-top: 3px;
  border-bottom: 1px solid #eaeaea;
}
.nav>li>a:focus,
.nav>li>a {
  background: transparent;
  border-bottom: 3px solid transparent;
}
.nav>li>a.active,
.nav>li>a:hover {
  background: #f4f6f7;
  border-bottom: 3px solid #21c9dc;
}
#content {
  padding: 72px 15px 0 15px;
  padding-bottom: 100px;
  margin: 0;

  .about {
    padding: 10px;
    padding-top: 0px;
    > h3 {
      margin-top: 0;
    }
    p {
      font-size: 1.4em;
      line-height: 1.8em;
    }
  }
}

.main {
  height: 100%;
}

.main > .row
{
  height: 100%;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

body, a {
  color: #515151;
}

a:focus, a:hover {
  color: #555;
}
body {
  padding-top: 100px;
  background: #f4f6f7;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.header.navbar {
  min-height: auto;
  background-color: #21c9dc;
  border: 0;
  margin-bottom: 0;
}

.header .navbar-brand {
  float: none;
  padding: 40px;
  display: inline-block;
  height: auto;
  font-size: 1.7em;
  color: white;
}

.header .navbar-brand:focus,
.header .navbar-brand:hover
{
  color: #efefef;
}

.profile {
  padding: 40px 0 0;
  border-bottom: 1px solid #eaeaea;
  .contact {
    border-top: 1px solid #eaeaea;
    margin: 20px 0;
    padding-top: 20px;
    font-weight: 500;

    >span {
      display: block;
    }
  }
  .profile-pic {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 15px;
  }
  .profile-name {
    font-weight: 500;
  }
}

.fixed {
  position: fixed;
  top: 100px;
  width: 100%;
  left: 0;
}

.navbar-nav > li {
  float: none;
}

/* checkbox */
 .form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
.btn {
  border-radius: 0;
  border: 0;
}
.btn.active, .btn:active {
  box-shadow: none;
}

.filter {
  // todo : implement filter
  display: none;

  padding: 30px;
  padding-left: 50px;
  text-align: left;
  border-top: 1px solid #eaeaea;
}

@media (max-width: 768px) {
  .header .navbar-brand {
    padding: 20px 0;
  }
  #nav-wrapper {
    width: 100%;
    top: 60px;
    position: fixed;
  }
  .profile {
    padding: 20px 0 10px;
    .profile-pic {
      width: 30px;
      display: inline;
      margin-bottom: 0;
      margin-right: 10px;
    }
    > div {
      display: inline;
    }
    .contact {
      display: block;
      padding: 10px 0 0;
      margin: 10px 0 0;
      > span {
        display: inline;
        margin-right: 5px;
        &.cell, &.address {
          display: none;
        }
      }
    }

  }
  #content {
    padding: 0;
    padding-bottom: 157px;
    padding-top: 10px;
  }
  .top-bar {
    padding: 0;
    margin: 0;
  }
  .main > .row
  {
    margin: 0;
    padding: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .nav-justified>li>a {
    margin-bottom: 0;
  }
  .nav-justified>li {
    display: table-cell;
    width: 1%;
  }
  .navbar-nav > li {
    float: none;
  }

  .filter {
    display: none;
  }
}
@media (max-width: 360px) {
  .header .navbar-brand {
    font-size: 1.5em;
  }
}
@media (max-width: 320px) {
  .header .navbar-brand {
    font-size: 1.3em;
  }
}
